<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/main.css">
  <link type="application/atom+xml" rel="alternate" href="http://www.mercerweissx.com/feed.xml" title="mercerweissx">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <style id="highlight-mengshou-style">
    a {
      color: black;
    }
  
    hr {
      border-top: solid 1px #e8e8e8;
      border-bottom: none;
      border-right: none;
      border-left: none;
    }
    
    .highlight-mengshou-wrap {
        background: #ff9;
        cursor: pointer;
    }
    
    .highlight-mengshou-wrap.active {
        background: #ffb;
    }
  </style>
  <title>mercerweissx</title>
</head>
